@charset "UTF-8";
  @import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    ---fonte1: 'Passion One', cursive;
    ---fonte2: 'Sriracha', cursive;
}


* {
    margin: 0px;
    padding: 0px;
}
body {
    min-height: 100vh;
    
    
    
}
header {
    background-color: black;
    color: white;
    font-variant:small-caps;
    padding-top: 50px;
    text-align: center;
    font-family: var(---fonte1);
    
    
}
h1 {
    font-size: 10vw;
}
header > h4 {
    padding-bottom: 50px;
}
section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(---fonte2);
    font-size: 3vw;
    
}
#img001 {
    background-image: url(image/background001.jpg);
    background-position: right center;
    background-size: cover;
}
#img002 {
    background-image: url(image/background002.jpg);
    background-position: right center;
    background-size: cover;
}
a {
   text-decoration: none; 
   color: white;
   font-weight: bolder;
}
a:hover {
    text-decoration: underline;
}
.imagem {
    background-color: rgba(0, 0, 0, 0.91);
    color: white;
    text-shadow: 1px 1px 0px;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.76);
    background: fixed;

}
footer {
    background-color: black;
    color: white;
    padding:10px ;
    text-align: center;
}
 p {
    background-color: rgba(0, 0, 0, 0.634);
    display: inline-block;
    padding: 5px;
 }